h1{
    text-align: center;
    color: aliceblue;
}

.xss input{
    width: 60%;
    color: blue;
    margin-left: 10%;
}
label{
    margin-left: 10px;
    font-size: 25px;
}
.zcc{
    margin-right: 33px;
}
.vcc{
    margin-left: 10px;
}
.ass{
   
    margin: 10px;
}
body{
    background: url("images\ \(4\).jpeg");
}
.ceb