
body{
    background: url("images\ \(4\).jpeg");
}
.eee{
    border: 3px solid white;
    border-radius: 4px;
    position: relative;
    gap: 20px;
}
.eee:hover{
   width: 103%;
}
.dd{
    width: 150px;
}
.sor{
    display: flex;
    justify-content: space-between;
    
    border: 2px solid white;
    gap: 10px;

}